.login__form-wrapper.login__form-wrapper.login__form-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  max-width: 660px !important;
  min-width: 50%;
  height: 100vh;
}
.login__form.login__form {
  text-align: left;
}

.login__btn.login__btn {
  display: block;
  margin: 0 auto;
}
