.signup__form-wrapper.signup__form-wrapper.signup__form-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  max-width: 660px !important;
  min-width: 50%;
  height: 100vh;
}
.signup__form.signup__form {
  text-align: left;
}
